body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr.product-row:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


tr.product-row.selected {
    background-color: #27ae60;
    color: #fff;
    font-weight: bold;
}

